<div class="row">

<h3>I'm in the AppComponent!</h3>
<hr>
<app-servers></app-servers>
<hr>
<h3>routing</h3>
<a routerLink ="students"> Go to students</a>
<br>
<a routerLink ="details"> Go to students data</a>
<br>
<router-outlet></router-outlet>

<h3>Directives</h3>
<h3>ngIor</h3>
<div *ngIf="checkngif"> ng If works</div>
<br>


<h3>ngFor</h3>
<h4 *ngFor="let item of dresses">{{item}}</h4>
<h4 *ngFor="let item of info">{{"name:" + item.name + ", email:" + item.email}}</h4>
<br>


<h3>ngStyle</h3>
<div [ngStyle]="{'color': 'green', 'font-weight': 'bold'}"> ng style works</div>
<br>

<h3>Interpolation</h3>
<h4>{{interpolation}}</h4>
<h4>Student Details: {{studentname + studentlastname}}</h4>
<h4>sum = {{a+b}}</h4>

<h3>property binding</h3>
<span [innerHTML]='studentname'></span>
<h4>student name is <span [innerHTML]= 'studentname+studentlastname' ></span></h4>
<img [src]= "'https://www.google.com/logos/doodles/2020/wear-a-mask-save-lives-copy-6753651837108810-law.gif'" [height]="100" [width]="400"> 

<h3>attribute binding</h3>
<table [attr.border]="bdr"  [attr.height]="ht"  [attr.width]="wt">
    <tr>
        <td [attr.colspan]="cols">Student Details</td>
    </tr>
   
    <tr>
        <td>ID</td>
        <td>Name</td>
        <td>Class</td>
    </tr>
    <tr>
        <td>524</td>
        <td>supriya</td>
        <td>12</td>
    </tr>
</table>



<h3>event binding</h3>
<button (click)="btnclick()">click for alert</button>
<br>

<h3>two way data binding</h3>
<h2>Enter your name</h2>
<input [value]='data' (input)='data=$event.target.value'>
<h4>hi {{data}}</h4>

<h3>Using ngModule</h3>
<input type="text" [(ngModel)]="data1">
<h3>{{ data1 }}</h3>
<br>


<!-- <h3>Http post</h3>
<input type="text" [(ngModel)]="data1" placeholder="Name">
<button (click)="postData">Post Data</button> -->




  